body {
	font-family: "Montserrat", sans-serif;
	margin-left: 30px;
	line-height: 1.2;
	background-color: #141418; /* Dark gray background */
	color: #ffffff; /* White text */
	display:flex;
	flex-direction: row;
}
.checkbox-group {
	display: flex;
	flex-direction: column; /* Stack the cost groups vertically */
	gap: 8px; /* Space between cost groups */
}
.cost-group {
	margin-bottom: 2px; /* Add space between cost groups */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /* Ensure items within the group wrap onto the next line */
	align-items: center;
	gap: 4px;
}
.section {
	margin-bottom: 10px;
}
.maindiv {
	width:60%;
}
.portrait {
	box-sizing : border-box;
	position: relative;
	width: 48px;
	height: 48px;
	overflow: hidden;
	margin-bottom: 1px;
	border: 1px solid #999999;
}
.button {
	background-color: #4CAF50;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}
.button-ban {
    background-color: #820000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.button-unban {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.button-ban:hover {
	background-color: #ed3939;
}
.button-unban:hover {
	background-color: #39ed3f;
}
.selected {
    border: 3px;
	border-style: solid;
	border-color: #39ed3f; /* Highlight selected units */
	border-radius: 5px;
}
.banned {
    border: 3px;
	border-style: solid;
	border-color: #ed3939; /* Highlight banned units */
    border-radius: 5px;
}
.checkbox-group label {
	margin: 10px;
}
.traits-group {
	margin: 4px;
	grid-gap: 12px;
	font-size: 14px;
	display: grid;
	width: 540px;
	grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
	align-items: center;
}
.traits-label {
	display : flex;
	flex-direction: column;
}
.composition-list {
	margin-top: 100px;
	width:40%;
}
.composition-item {
	background-color: #171814; /* Dark gray background */
	color: #ffffff; /* White text */
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}